<section>
    <h3> Explicación de sitio web </h3>
    <p> Web dedicada al muestreo de Pokémons, esta realiza peticiones a la API de <a href="https://pokeapi.co/">pokeapi.co</a>. Se realizan 2 tipos de peticiones a la API, una para recoger varios pokemons en una clase, y otra petición para coger datos específicos de cada Pokémon.</p>
    <p> El listado completo de Pokemons se utiliza solo para el filtrado de pokemons, para el muestreo del listado se utiliza una lista de tan solo 25 Pokémons, en esta lista tenemos información sobre la siguiente lista de 25 pokemons así como la anterior. Este aspecto es algo a mejorar, ya que lo correcto sería descargar todos los Pokemons de una vez y recoger de esa misma lista los 25 Pokemons a mostrar.  </p>
    <p> Dependiendo del equipo puede tardar bastante en cargar todos los pokemons. </p>
</section>