<h3>Buscar pokémon ⬇️</h3>
<input type="text" [(ngModel)]="filter" (ngModelChange)="onChangeFilter($event)" />


<div *ngIf="!filter">
  <div *ngIf="CharacterResponseInterface.results">
      <h3>Pokemon List!</h3>
      <div *ngFor="let pokemon of CharacterResponseInterface.results">
        <PokemonComponent [parentToChild]='pokemon'></PokemonComponent>
      </div>
      <button *ngIf="CharacterResponseInterface.previous" (click)="back()">Back</button>
      <button *ngIf="CharacterResponseInterface.next" (click)="next()">Next</button>
  </div>
</div>
<div *ngIf="filter">
  <div *ngIf="characterListFilter">
      <h3>Pokemon List!</h3>
      <div *ngFor="let pokemon of characterListFilter">
        <PokemonComponent [parentToChild]='pokemon'></PokemonComponent>
      </div>
  </div>
</div>