<div class= 'main-about'>
    <h1>Desarrollado por Julio Robles</h1>
    <a class= 'main-about__github' target="_blank" href='https://github.com/julio-robles/Minsait_Learn/tree/main/Practica-Angular'>
        <h2>Repositorio en GitHub</h2>
        <img src='/assets/github.svg'>
    </a>
    <div class= 'main-about__thanks'>
        <h2>Agradecimientos</h2>

        <div class= 'main-about__thanks-element'>
            <h3>agarie - pokemon types</h3>
            <a class= 'main-about__github' target="_blank" href='https://gist.github.com/agarie/2610520'>
                <h3>Repositorio en GitHub</h3>
                <img src='/assets/github.svg'>
            </a>
        </div>
        <div class= 'main-about__thanks-element'>
            <h3>pixel-perfect - github icon</h3>
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">
                <h3>Perfil en Flaticon</h3>
            </a>
        </div>
        <div class= 'main-about__thanks-element'>
            <h3>Those icons - Pokeball icon</h3>
            <a href="https://www.flaticon.com/authors/those-icons" title="Those icons" target="_blank">
                <h3>Perfil en Flaticon</h3>
            </a>
        </div>
    </div>
</div>