.main-footer{
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    height: var(--main-footer__height);
    width: 100%;
    display: flex;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
    & a{
        display: flex;
        text-decoration: none;
        color: inherit;
    }
}