<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
</head>

<body>
  <h1>Welcome to the Home Page!</h1>
  <a href="/games">Juegos disponibles</a>
  <a href="/users/register">Registro</a>
  <a href="/users/login">Login</a>
  <nav>
    <form action="/users/logout" method="POST">
      <input type="submit" value="Logout"></input>
    </form>
  </nav>
</body>

</html>