<div class= "mix-pokemons__list">
    <div class= "mix-pokemons__list-element" *ngFor="let pokemon of characterListFull">
        <div *ngIf="pokemon.url">
            <a [routerLink]="['/pokemon/' + pokemon.id]">
                <div class='main-content__list-element'>
                    <h4>{{ pokemon.name }}</h4>
                    <img [src]="pokemon.image" [alt]="pokemon.name">
                </div>
            </a>
        </div>
        <div *ngIf="!pokemon.url">
            <a [routerLink]="['/fake-pokemon/' + pokemon.id]">
                <div class='main-content__list-element'>
                    <h4>{{ pokemon.name }}</h4>
                    <img [src]="pokemon.image" [alt]="pokemon.name">
                </div>
            </a>
        </div>
    </div>
</div>
