<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
</head>

<body>
  <h1>Welcome to the Home Page!</h1>
  <a href="/games">Juegos disponibles</a>
  <a href="/register">Registro</a>
  <a href="/login">Login</a>
  <nav>
  <form action="/users/logout" method="POST">
		<input type="submit" value="Logout"></input>
	</form>
</nav>
</body>

</html>